<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>89946461731-hg5kimgb9tac9cvm4q4l9iafp0g8i89i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.89946461731-hg5kimgb9tac9cvm4q4l9iafp0g8i89i</string>
	<key>API_KEY</key>
	<string>AIzaSyCEz2ipkKDAt8Xu915m5LKM5BTiEKWs-a8</string>
	<key>GCM_SENDER_ID</key>
	<string>89946461731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.atos.FlorentiniSVC</string>
	<key>PROJECT_ID</key>
	<string>florentini</string>
	<key>STORAGE_BUCKET</key>
	<string>florentini.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:89946461731:ios:e0cbab79619f2812c88396</string>
	<key>DATABASE_URL</key>
	<string>https://florentini.firebaseio.com</string>
</dict>
</plist>